* {
	box-sizing: border-box;
}

body {
	font-family: "source-sans-pro";
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	color: #111;
	background: #f9f9f9;
	overflow-y: scroll;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	opacity: 0.9;
	line-height: 50px;
	height: 50px;
	background: #111;
	color: #f9f9f9;
}

header .left {
	float: left;
	width: 50%;
	padding-left: 10px;
}

header .left h1 {
	display: inline-block;
}

header .right {
	float: right;
	width: 160px;
	text-align: left;
}

header a {
	color: #f9f9f9;
	margin-right: 2em;
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	font-size: 12px;
	padding-right: 20px;
	padding-bottom: 14px;
}

footer a {
	text-decoration: none;
	font-weight: 600;
}

h1 {
	margin: 0;
	font-size: 28px;
	font-weight: 600;
	font-style: normal;
}

h2 {
	margin: 0 0 0.4em 0;
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
}

a {
	color: #111;
}


/******************************
 *
 *	Static States
 *
 ******************************/

/******************************
 *	UI Basic
 ******************************/

.ui-box {
	z-index: 1000;
	position: absolute;
	width: 160px;
	margin-top: 50px;
}

.category-info {
	height: 160px;
	padding-top: 40px;
}

.category-info p {
	font-size: 12px;
}


.category {
	width: 160px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
}

.category-title {
	width: 160px;
	border-bottom: 1px solid #111;
	-webkit-transition: all 1s;
}

.subtitle {
	display: inline-block;
	font-family: "source-sans-pro";
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	float: none;
	color: #f9f9f9;

}

/******************************
 *	UI Left
 ******************************/

.ui-left {
	left: 0;

}

/*
 *	Title and Infotext
 ******************************/


.ui-left .category-info {
	padding-left: 10px;
}

.ui-left .category-title {
	padding-left: 10px;
}



/******************************
 *	UI Right
 ******************************/

.ui-right {
	right: 0;
}

.ui-right .category-title {

}


/*
 *	Title and Infotext
 ******************************/

.ui-right .category-info {
	padding-right: 10px;
}


/******************************
 *
 *	Animations
 *
 ******************************/


/******************************
 *	Both
 ******************************/

.active-left .locations, .active-right .graph {
	height: 500px;
}

.active-right .category-title,
.active-left .category-title {
	width: 380px;
}

/******************************
 *	Left
 ******************************/

.active-left .category-title {
	padding-left: 180px;
}

.active-left .locations {
	position: relative;
	left: 180px;
	width: 200px;
}

.locations {
	display: hidden;
}

/******************************
 *	Right
 ******************************/

.active-right .category-title {
	width: 380px;
	right: 0;
}

.active-right  {
	position: relative;
	width: 180px;
	right: 180px;
	margin-right: 20px;
}

.graph {
	display: hidden;
	width: 200px;
	/*overflow-y: scroll;*/
}

.graph-element {
	line-height: 1.2;
	margin-bottom: 1em;
}

.category-bargraph {
	margin-left: 17px;
}

label, .category-title {
	cursor: pointer;
}

input[type="checkbox"] {
	visibility: hidden;
	width: 0;
}

input[type="checkbox"]:checked ~ div.pseudo-checkbox {
   background-color: #111;
   border-color: transparent;
   width: 11px;
   height: 11px;
}

.pseudo-checkbox {
	display: inline-block;
	line-height: 12px;
	width: 11px;
	height: 11px;
	opacity: 1;
	border: 1px solid #bbb;
	margin-right: 6px;
	border-radius: 22px;
}

.location-name {
	display: inline-block;
	text-align: left;
	width: 130px;
}


.location-amount,  {
	display: inline-block;
	text-align: right;
	font-size: 12px;
	width: 18px;
}


/******************************
 *
 *	Map
 *
 ******************************/


#map {
	margin: auto;
	margin-top: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index 700;
	width: 1200px;
}

#map-background-overlay {
	margin: auto;
	padding-top: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index 600;
	width: 1200px;
	background: transparent;
	background-image: -webkit-radial-gradient(50% 50%, ellipse farthest-side, rgba(255, 255, 255, 0) 65%, #f9f9f9 100%);
}

#map-background {
	margin: auto;
	padding-top: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index 500;
	width: 1200px;
	background: url(../img/karte.jpg) no-repeat;
	background-position-x: -145px;
	background-position-y: 15px;
	background-size: 2165px;
	opacity: 0.4;
	/*background-size: 2165px;*/
}




/******************************
 *
 *	Info/Hilfe
 *
 ******************************/

.js-help, .js-info {
	display: none;
}


.js-help.open, .js-info.open{
	position: absolute;
	margin-top: 50px;
	display: block;
	background-color: #111;
	z-index: 1000;
	opacity: 0.9;
	height: 100%;
	color: #f9f9f9;
	width: 100%;
}

.js-help.open div, .js-info.open div {
	width: 600px;
	margin: 100px auto;
	text-decoration: none;
	text-align: left;
}

.js-help.open p {
	margin-top: 4px;
}

.js-help.open h3 {
	font-weight: bold;
	margin-bottom: 0;
}

.js-info.open a {
	text-decoration: none;
	font-weight: 600;
	color: #f9f9f9;
}


}
