body {
	font-family: 'Lucida Grande';
	font-size: 16px;

	background: #222;
}

.full {
	width: 100%;
}

.box {
	padding: 1em;
}

.box-messages {
	font-size: 0.8em;
	color: #776928;
	background: #FCF0B9;
}